.header__btn{
}

.button{
  display: inline-block;
  padding: 11px 33px 14px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 26px;
  text-align: center;
  color: #fff;


  height: 51px;
  background: #F72464;
  box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in;

}

.button:hover{
  box-shadow: 0px 4px 15px rgba(184, 13, 64, 0.671);
}

.button-outline {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  padding: 10px 40px 11px;
  background: #FFFFFF;
  border: 1px solid #F72464;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button-outline:hover{
  background-color: #F72464;
  color: white;
}
